@import '../../styles/variables.scss';

.users {

    .info {
        display: flex;
        gap: 25px;
        margin-bottom: 35px;

        h2 {
            font-size: 20px;
            font-weight: 500;
        }
    
        .btn {
            font-size: 13px;
            font-weight: 500;
        }

    }

    

}